.admin_content {

}

.admin_input_field_name {
  margin-bottom: 50px;

}

.admin_input_field_detail {
  margin-bottom: 50px;

}

.admin_input_field_place {
  margin-bottom: 50px;

}

.admin_input_field_badget {
  margin-bottom: 50px;

}
